<h1>"Here's our discussion board!"</h1>

<form method = "post" action = "/">
  <label>New Discusssion
    <input type="text" name="todo_name">
  </label>

  <input type="submit" value="Create Discussion">
</form>

<% @discussions.each do |discussion|%>
<%= discussion.title %><br />
<% end %>
