<h1>Here's our discussion board!</h1>

<form method = "post" action = "/">
  <label>New Discusssion
    <input type="text" name="discussion_title"><br>
  </label>
  <input type="submit" value="Create Discussion">
  <textarea name="discussion_body"></textarea>
</form>



<ul>
<% @discussions.each do |discussion|%>
<li><%= discussion.title %></li>
<% end %>
</ul>
