<h1>Here's our discussion board!</h1>

<form method= "post" action = "/search">
    <label>Search Box<br>
      <input type = "text" name = "search_text"><br>
    </label>
    <input type="submit" value ="Find Sumthing!">
</form>


<form method= "post" action = "/">
  <label>New Discussion<br>
    <input type="text" name="discussion_title"><br>
  </label>
  <textarea name="discussion_body"></textarea><br>
  <input type="submit" value="Create Discussion">
</form>



<ul>
<% @discussions.each do |discussion|%>
<li><a href= "/discussion/<%= discussion.id %>"><%= discussion.title %></a></li>
<% end %>
</ul>

